Build started...
Build succeeded.
IF OBJECT_ID(N'[__EFMigrationsHistory]') IS NULL
BEGIN
    CREATE TABLE [__EFMigrationsHistory] (
        [MigrationId] nvarchar(150) NOT NULL,
        [ProductVersion] nvarchar(32) NOT NULL,
        CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY ([MigrationId])
    );
END;
GO

BEGIN TRANSACTION;
CREATE TABLE [Amenities] (
    [Id] uniqueidentifier NOT NULL,
    [Name] nvarchar(max) NOT NULL,
    [Description] nvarchar(max) NOT NULL,
    CONSTRAINT [PK_Amenities] PRIMARY KEY ([Id])
);

CREATE TABLE [Carts] (
    [Id] uniqueidentifier NOT NULL,
    [UserId] uniqueidentifier NOT NULL,
    CONSTRAINT [PK_Carts] PRIMARY KEY ([Id])
);

CREATE TABLE [Cities] (
    [Id] uniqueidentifier NOT NULL,
    [Name] nvarchar(max) NOT NULL,
    [Country] nvarchar(max) NOT NULL,
    [PostalCode] nvarchar(max) NOT NULL,
    [ThumbnailUrl] nvarchar(max) NULL,
    CONSTRAINT [PK_Cities] PRIMARY KEY ([Id])
);

CREATE TABLE [Owners] (
    [Id] uniqueidentifier NOT NULL,
    [Email] nvarchar(max) NOT NULL,
    [FirstName] nvarchar(max) NOT NULL,
    [LastName] nvarchar(max) NOT NULL,
    [PhoneNumber] nvarchar(max) NOT NULL,
    CONSTRAINT [PK_Owners] PRIMARY KEY ([Id])
);

CREATE TABLE [Users] (
    [Id] uniqueidentifier NOT NULL,
    [FirstName] nvarchar(max) NOT NULL,
    [LastName] nvarchar(max) NOT NULL,
    [Email] nvarchar(max) NOT NULL,
    [PasswordHash] nvarchar(max) NOT NULL,
    [Address] nvarchar(max) NULL,
    [PhoneNumber] nvarchar(max) NOT NULL,
    [Role] int NOT NULL,
    CONSTRAINT [PK_Users] PRIMARY KEY ([Id])
);

CREATE TABLE [Hotels] (
    [Id] uniqueidentifier NOT NULL,
    [Name] nvarchar(max) NOT NULL,
    [Description] nvarchar(max) NULL,
    [Location] nvarchar(max) NULL,
    [ThumbnailUrl] nvarchar(max) NULL,
    [Email] nvarchar(max) NULL,
    [PhoneNumber] nvarchar(max) NOT NULL,
    [StarRating] int NOT NULL,
    [Longitude] float NOT NULL,
    [Latitude] float NOT NULL,
    [TotalRooms] int NOT NULL,
    [HotelType] int NOT NULL,
    [CityId] uniqueidentifier NOT NULL,
    [OwnerId] uniqueidentifier NOT NULL,
    CONSTRAINT [PK_Hotels] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Hotels_Cities_CityId] FOREIGN KEY ([CityId]) REFERENCES [Cities] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_Hotels_Owners_OwnerId] FOREIGN KEY ([OwnerId]) REFERENCES [Owners] ([Id]) ON DELETE CASCADE
);

CREATE TABLE [Bookings] (
    [Id] uniqueidentifier NOT NULL,
    [UserId] uniqueidentifier NOT NULL,
    [HotelId] uniqueidentifier NOT NULL,
    [GuestRemarks] nvarchar(max) NULL,
    [CheckInDate] date NOT NULL,
    [CheckOutDate] date NOT NULL,
    [BookingDate] datetime2 NOT NULL,
    CONSTRAINT [PK_Bookings] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Bookings_Hotels_HotelId] FOREIGN KEY ([HotelId]) REFERENCES [Hotels] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_Bookings_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE CASCADE
);

CREATE TABLE [Reviews] (
    [Id] uniqueidentifier NOT NULL,
    [UserId] uniqueidentifier NOT NULL,
    [HotelId] uniqueidentifier NOT NULL,
    [Content] nvarchar(max) NOT NULL,
    [Rating] int NOT NULL,
    CONSTRAINT [PK_Reviews] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Reviews_Hotels_HotelId] FOREIGN KEY ([HotelId]) REFERENCES [Hotels] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_Reviews_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE CASCADE
);

CREATE TABLE [RoomCategories] (
    [Id] uniqueidentifier NOT NULL,
    [AdultsCapacity] int NOT NULL,
    [ChildrenCapacity] int NOT NULL,
    [Name] nvarchar(max) NOT NULL,
    [Description] nvarchar(max) NULL,
    [HotelId] uniqueidentifier NOT NULL,
    [PricePerNight] decimal(18,2) NOT NULL,
    [RoomType] int NOT NULL,
    CONSTRAINT [PK_RoomCategories] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_RoomCategories_Hotels_HotelId] FOREIGN KEY ([HotelId]) REFERENCES [Hotels] ([Id]) ON DELETE CASCADE
);

CREATE TABLE [PaymentDetails] (
    [Id] uniqueidentifier NOT NULL,
    [Amount] decimal(18,2) NOT NULL,
    [PaymentNumber] int NOT NULL,
    [PaymentDate] datetime2 NOT NULL,
    [PaymentMethod] int NOT NULL,
    [BookingId] uniqueidentifier NOT NULL,
    CONSTRAINT [PK_PaymentDetails] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_PaymentDetails_Bookings_BookingId] FOREIGN KEY ([BookingId]) REFERENCES [Bookings] ([Id]) ON DELETE CASCADE
);

CREATE TABLE [AmenityRoomCategory] (
    [AmenitiesId] uniqueidentifier NOT NULL,
    [RoomCategoriesId] uniqueidentifier NOT NULL,
    CONSTRAINT [PK_AmenityRoomCategory] PRIMARY KEY ([AmenitiesId], [RoomCategoriesId]),
    CONSTRAINT [FK_AmenityRoomCategory_Amenities_AmenitiesId] FOREIGN KEY ([AmenitiesId]) REFERENCES [Amenities] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_AmenityRoomCategory_RoomCategories_RoomCategoriesId] FOREIGN KEY ([RoomCategoriesId]) REFERENCES [RoomCategories] ([Id]) ON DELETE CASCADE
);

CREATE TABLE [CartItems] (
    [Id] uniqueidentifier NOT NULL,
    [RoomCategoryId] uniqueidentifier NOT NULL,
    [CheckIn] date NOT NULL,
    [CheckOut] date NOT NULL,
    [Quantity] int NOT NULL,
    [CartId] uniqueidentifier NOT NULL,
    CONSTRAINT [PK_CartItems] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_CartItems_Carts_CartId] FOREIGN KEY ([CartId]) REFERENCES [Carts] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_CartItems_RoomCategories_RoomCategoryId] FOREIGN KEY ([RoomCategoryId]) REFERENCES [RoomCategories] ([Id]) ON DELETE CASCADE
);

CREATE TABLE [Discounts] (
    [Id] uniqueidentifier NOT NULL,
    [DiscountPercentage] decimal(18,2) NOT NULL,
    [StartDate] datetime2 NOT NULL,
    [EndDate] datetime2 NOT NULL,
    [RoomCategoryId] uniqueidentifier NOT NULL,
    CONSTRAINT [PK_Discounts] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Discounts_RoomCategories_RoomCategoryId] FOREIGN KEY ([RoomCategoryId]) REFERENCES [RoomCategories] ([Id]) ON DELETE CASCADE
);

CREATE TABLE [Rooms] (
    [Id] uniqueidentifier NOT NULL,
    [RoomNumber] nvarchar(max) NOT NULL,
    [RoomCategoryId] uniqueidentifier NOT NULL,
    [RowVersion] rowversion NULL,
    CONSTRAINT [PK_Rooms] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Rooms_RoomCategories_RoomCategoryId] FOREIGN KEY ([RoomCategoryId]) REFERENCES [RoomCategories] ([Id]) ON DELETE CASCADE
);

CREATE TABLE [BookingRoom] (
    [BookingId] uniqueidentifier NOT NULL,
    [RoomId] uniqueidentifier NOT NULL,
    CONSTRAINT [PK_BookingRoom] PRIMARY KEY ([BookingId], [RoomId]),
    CONSTRAINT [FK_BookingRoom_Bookings_BookingId] FOREIGN KEY ([BookingId]) REFERENCES [Bookings] ([Id]),
    CONSTRAINT [FK_BookingRoom_Rooms_RoomId] FOREIGN KEY ([RoomId]) REFERENCES [Rooms] ([Id])
);

CREATE TABLE [GalleryImages] (
    [Id] uniqueidentifier NOT NULL,
    [Path] nvarchar(max) NOT NULL,
    [RoomId] uniqueidentifier NOT NULL,
    [HotelId] uniqueidentifier NULL,
    CONSTRAINT [PK_GalleryImages] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_GalleryImages_Hotels_HotelId] FOREIGN KEY ([HotelId]) REFERENCES [Hotels] ([Id]),
    CONSTRAINT [FK_GalleryImages_Rooms_RoomId] FOREIGN KEY ([RoomId]) REFERENCES [Rooms] ([Id]) ON DELETE CASCADE
);

CREATE INDEX [IX_AmenityRoomCategory_RoomCategoriesId] ON [AmenityRoomCategory] ([RoomCategoriesId]);

CREATE INDEX [IX_BookingRoom_RoomId] ON [BookingRoom] ([RoomId]);

CREATE INDEX [IX_Bookings_HotelId] ON [Bookings] ([HotelId]);

CREATE INDEX [IX_Bookings_UserId] ON [Bookings] ([UserId]);

CREATE INDEX [IX_CartItems_CartId] ON [CartItems] ([CartId]);

CREATE INDEX [IX_CartItems_RoomCategoryId] ON [CartItems] ([RoomCategoryId]);

CREATE INDEX [IX_Discounts_RoomCategoryId] ON [Discounts] ([RoomCategoryId]);

CREATE INDEX [IX_GalleryImages_HotelId] ON [GalleryImages] ([HotelId]);

CREATE INDEX [IX_GalleryImages_RoomId] ON [GalleryImages] ([RoomId]);

CREATE INDEX [IX_Hotels_CityId] ON [Hotels] ([CityId]);

CREATE INDEX [IX_Hotels_OwnerId] ON [Hotels] ([OwnerId]);

CREATE UNIQUE INDEX [IX_PaymentDetails_BookingId] ON [PaymentDetails] ([BookingId]);

CREATE INDEX [IX_Reviews_HotelId] ON [Reviews] ([HotelId]);

CREATE INDEX [IX_Reviews_UserId] ON [Reviews] ([UserId]);

CREATE INDEX [IX_RoomCategories_HotelId] ON [RoomCategories] ([HotelId]);

CREATE INDEX [IX_Rooms_RoomCategoryId] ON [Rooms] ([RoomCategoryId]);

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20251207104528_InitialCreate', N'9.0.10');

COMMIT;
GO